<html xmlns:th="http://www.thymeleaf.org"
    th:replace="~{fragments/_layout :: layout(~{::pageContent}, ~{::pageCss}, ~{::pageJs}, ${title})}">

<th:block th:fragment="pageCss">
    <!--    <link rel="stylesheet" th:href="@{/assets/css/login.css}">-->
</th:block>

<th:block th:fragment="pageContent">
    <div class="d-flex flex-fill flex-column">
        Participant Dashboard
    </div>
</th:block>

<th:block th:fragment="pageJs">
    <!--    <script th:src="@{/assets/js/login.js}"></script>-->
</th:block>

</html>