<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/_layoutLogin :: layout(~{::pageContent}, ~{::pageCss}, ~{::pageJs}, 'Error')}">

<th:block th:fragment="pageCss">
<!--    <link rel="stylesheet" th:href="@{/assets/css/login.css}">-->
</th:block>

<th:block th:fragment="pageContent">
    <div class="d-flex flex-fill flex-column container align-items-center justify-content-center">
        <span class="mb-2 text-danger fw-semibold"
            th:text="${error != null ? error : 'We apologize for the inconvenience. The requested page is not available at the moment.'}">

        </span>
        <form th:action="@{/login}" class="mt-3">
            <button type="submit" class="btn btn-outline-secondary">Back to Home</button>
        </form>
    </div>
</th:block>

<th:block th:fragment="pageJs">
<!--    <script th:src="@{/assets/js/login.js}"></script>-->
</th:block>

</html>